@media print {
  @page {
    margin: 1cm;
  }
  .description__img{
    display: none;
  }
  .advertisement_img{
    display: none;
  }
  .
  .advertisement{
    page-break-before: always;
  }
  .delivery{
    display: none;
  }
  .delivery__h1{
    margin-bottom: 2cm;
  }
  .centers{
    page-break-before: always;
  }
  .news{
    page-break-before: always;
  }
  .news__vacancy{
    border: 0px;
  }
  .news__h3{
    font-style: normal;
  }
  .header__info-print{
    display: block;
  }
  .follow{
    display: none;
  }
  .header__svg {
    display: none;
  }
  .flower-buy__img{
    display: none;
  }
  .money{
    display: none;
  }
}
